body {
font-family: 'Raleway', sans-serif;

}

h1 {
  width: 100%;
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
  color: black;

}

h5 {
 
  font-weight: 300;
  text-align: center;
  font-size: 1rem;
  background-color: Black;
  padding: 3px 10px;
  margin: 5px;
  color: white;
  
  height: 100%;
}

    #referenceBtn {
        position: fixed;
        bottom: 10px;
        float: right;
        right: 18.5%;
        left: 77.25%;
        max-width: 30px;
        width: 100%;
        font-size: 20px;
        border-color: rgba(85, 85, 85, 0.2);
        background-color: rgb(100,100,100);
        padding: .5px;
        border-radius: 4px;

    }

    #myreferenceBtn:hover {
        background-color: #7dbbf1;

