

body {
font-family: 'Raleway', sans-serif;

}

h1 {
  width: 100%;
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
  color: black;

}

p  {
  
  width: 100%;
  font-weight: 300;
  text-align: center;
  font-size: 1.1rem;
  color: black;
  
}

.underline {
  border-bottom: 2px solid currentColor;
}
